<% if current_user %>
	<h2>Welcome <%= current_user.fname%></h2>
<% end %>
<h3>Create a New Report or Add to an Existing Report Here <a href="/report_new">+</a></h3>
<h6>Reports: </h6>
<% @reports.each do |report| %>
<li><%= link_to report.name, report %></li>
<% end %>