<img src="../assets/images/arleigh-mitchell6.jpg">

<div class="body">
<h2><%= @teacher.full_name %></h2>
<% @reports.each do |report| %>
	<h4><%= link_to report.name, report %></h4><br>
<% end %>
</div>