<div class="item_add">
<% @reports.each do |report| %>
	<h4><%= link_to report.name, report %>, 
		<form method="post" action="/delete-report">
				<input type="hidden" name="report_id" value="<%= report.id %>">
				<button class="btn btn-default btn-sm" type="submit">Delete Report</button>
		</form>
	</h4><br>
<% end %>
</div>