@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background: #CCC7AA;
	font-family: monospace;

}
img {
	padding-top: 6%;
	max-width: 100%;

}

.landing{
	background-image: url("images/arleigh-mitchell5.jpg");
	background-size: cover;
	text-align: center;
}

.log-in{
	margin-top: 25%;
	margin-right: 125px;
	margin-left: 125px;
	font-size: 50px;
	color: #DEB886;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	font-family: monospace;
}

p {
	font-size: 30px;
	padding: 15px;
}

.navbar {
	padding: 10px;
	font-size: 20px;
	background: #325652;
}

.body{
	padding-left: 50px;
}

.item_add {
	padding: 65px;
}

input{
	border-radius: 15px;
	border-width: 0px;
}

.label{
	font-size: 15px;
	color: black;
}

.form{
	float: left;
	margin-right: 15px;
}

th{
	font-size: 20px;
}

td{
	font-size: 16px;
}
.devise{
	background: #3B635B;
}
.sup{
	max-width: 100%;
	padding-top: 0px;
}