<h2>Create New Report Here</h2>

<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Reports
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
  <% @reports.each do |report| %>
    <li><%= report.name %></li>
  <% end %>
  </ul>
</div>
<div class="create">
	<form action="/reports-new" method="post">
		<label class="label" for="name">Title</label><br>
		<input type="text" name="name"><br>
		<br>
		<br>
		<button type="submit">Create Report</button>
	</form>
</div>