<img src="../assets/images/arleigh-mitchell6.jpg">
<div align="center" class="item_add">

<h2>Create New Report Here</h2>

<div class="create">
	<form action="/reports-new" method="post">
		<label class="label" for="name">Title (ex: Dec. 2016)</label><br>
		<input type="text" name="name"><br>
		<br>
		<button class="btn btn-default btn-sm" type="submit">Create Report</button>
	</form>
</div>
</div>