<h2><%= @report.name %></h2>
<div class="item_add">	
	<form action="/item-add" method="post">
		<label class="label" for="product_name">Product</label><br>
		<input type="text" name="product_name"><br>
		<label class="label" for="price">Price</label><br>
		<input type="text" name="price"><br>
		<label class="label" for="quantity">Quantity</label><br>
		<input type="text" name="quantity"><br>
		<input type="hidden" name="report_id" value="<%= @report.id %>">
		<br>
		<br>
		<button type="submit">Add Item</button>
	</form>

	<% @report.items.each do |item| %>
	<%= item.product_name %>
	<% end %>
</div>